@model TempPropertyViewModel
@using SearchProperty.Data.Models.OfferedProperties.Enums;

@{
    var propertyType = Enum.GetValues(typeof(ResidentialType));
}

<p>@Model.Price</p>
<p>@Model.Town</p>
<p>@Model.Location</p>


<div class="col-md-6 ">
    <form asp-action="SaveProperty" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <select asp-for="ResidentialTypes" class="form-control  alert-heading">
                <option value="">Изберете категория</option>
                @foreach (var type in propertyType)
                {
                        <option value="@type">@type</option>
                }
            </select>
            <span asp-validation-for="ResidentialTypes" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Bedrooms" class="form-control" placeholder="Bedrooms" />
            <span asp-validation-for="Bedrooms" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <input asp-for="Bathrooms" class="form-control" placeholder="Bathrooms" />
            <span asp-validation-for="Bathrooms" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="YardSquareMeters" class="form-control" placeholder="Yard Square Meters" />
            <span asp-validation-for="YardSquareMeters" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Floor" class="form-control" placeholder="Floor" />
            <span asp-validation-for="Floor" class="text-danger"></span>
        </div>
    </form>
</div>
